* {
    margin: 0px;
    padding: 0px;
}
#container {
    width: 100%; 
    height: 100%;
    position: absolute;
 }  

#sidebar {
    background-color:pink;
    position: fixed;
    top: 30%;
    left: 0px;
    z-index: 2;
}
.option {
    position: relative;
}
.option i{
    display: block;
    line-height: 60px;
    width: 60px;
    text-align: center;
    background-color: #627ed8; 
    transition: 0.6s;
}
.text {
    position: absolute;
    height: 60px;
    width: 200px;
    line-height: 60px;
    text-align: center;
    left: -140px;
    background: tomato;
    z-index: -1;
    transition: 0.6s;
    top: 0px;
    font-size: 50%;
}
.option:hover i {
    color: #a7a6cf;
}
.option:hover .text {
    left:60px
}
.info {
    position:absolute;
    width:100%; 
	height:100%;
	background-color: lightcoral;
}

.gallery {
    position:absolute;
    width:100%; 
	height:100%;
	background-color:rgb(76, 76, 161);
}

.swiper-container {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
  }

  .swiper-slide img {
    display: block;
    width: 360px;
    height: 360px;
  }